.DS_Store
node_modules
express
/dist
/public/Application.docx
/public/Fund.rar
/public/APR.rar
/public/UGIB.rar
/public/Library.rar
/public/Funds.rar
/public/Users.json
/public/Users copy.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
